footer {
    margin: 50px 0;
}

p.text-dim {
    color: #CCC;
    font-style: italic;
}
body {
  padding-top: 70px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

